# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

#Output
Release/
Debug/
obj/
.vs/


# Other
Arduino/__vm/
Arduino/src/__vm/
Arduino/ESP8266WifiLEDStrip.sln
Arduino/ESP8266WifiLEDStrip.vcxproj
Arduino/ESP8266WifiLEDStrip.vcxproj.filters

#Visual studio
vs15/

Arduino/ESP8266WifiLEDStrip.vcxproj
Arduino/ESP8266WifiLEDStrip.vcxproj.filters
